body {
min-height: 100vh;
text-align: center;
background-color: aqua;
}
#popup {
    transition: 0.5s ease;
    height: 80vh;
    width: 80vw;
    margin-top: 10vh;
    margin-left: 10vw;
    background-color: white;
    opacity: 0;
    padding: 5rem;
}